html {
    height: 100%;
    width: 100%;
  }
  
.jarron {
  width: 25%;
  height: 25%;
}

.taza {
  width: 25%;
  height: 25%;
}

.chica {
  width: 25%;
  height: 25%;
}

.relax {
  width: 25%;
  height: 25%;
}

.logo {
  width: 200px;
  height: 200px;
}
