html {
    height: 100%;
    width: 100%;
  }
  
nav {
    display: flex;                    /* Activa el layout en fila */
    justify-content: space-between;   /* Espacio entre elementos */
    align-items: center;              /* Alineación vertical centrada */
    background-color: #003366;
    color: white;
    padding: 15px;
}

nav a {
    flex: 1;                    /* Cada parte ocupa el mismo ancho */
    color: white;
    text-align: center;         /* Centrar texto en cada caja */
}